<div class="container">
<%= link_to 'Добавить чат', new_chat_path %>

<% @chats.each do |chat| %>
    <div class="content-section-b">
      | <%= chat.title %>
      | <a href="<%= chat.url %>">Вступить в чат</a>
     | <%= chat.category_id %>
     | от пользователя <a href="https://twitter.com/<%= chat.user.nickname %>">@<%= chat.user.nickname %></a>
   </div>
<% end %>
</div>
