<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chat.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @chat.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @chat.category_id %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
